

body {
  width: 800px;
  height: 400px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: "black";
  padding: 20px;
  background-color: dodgerblue;
}

.js-answer {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: "black";
  padding: 20px;
  font-size: 27px;
}

.la-weather {
  float: left;
  top-margin: 75px;
  text-align: center;
  width: 325px;
  height: 200px;
  margin-left: 400;
  font-size: 22px;
  background-image: linear-gradient(dodgerblue, lightblue, sienna);
  padding: 15px;
  border-radius: 30px;
  border-style: solid;
  border-width: 4px;
  border-color: white;
}

.ny-weather {
  float: right;
  top-margin: 75px;
  width: 325px;
  height: 200px;
  margin-right: 400;
  font-size: 22px;
  background-image: linear-gradient(dodgerblue, lightblue, sienna);
  padding: 15px;
  border-radius: 30px;
  border-style: solid;
  border-width: 4px;
  border-color: white;

}
